#languageJS, #languagePy, #languageC {
  display: none;
}

.name {
  display: none;
}

h1 {
  text-align:center;
  font-family: verdana;
  background-color:cadetblue;
  font-weight: bold;
}

img {
  float:right;
  width:300px;
}

h2 {
  color:darkseagreen
}

p {
  text-align:center;
}